@import '../_abstract/variaveis';

@media only screen and (max-width : 600px) {
  .container-header {
    .title {
      flex-direction: column-reverse;

      h1 {
        font-size: 1.5rem;
      }


    }

    .description {
      p {
        margin-top: 20px;
        font-size: .875rem;
        max-width: 235px;
      }
    }
  }

  .bookmark {
    a {
      width: 10px;
      height: 10px;
    }
  }
}

@media only screen and (max-width: 315px) {
  .container-header {
    .title {
      h1 {
        font-size: 1rem;
      }

      img {
        @include compri-max(200px, 100%, 200px, 100%);

      }

    }

    .description {
      p {
        margin-top: 20px;
        font-size: .80rem;
        max-width: 225px;
      }
    }
  }

  .bookmark {
    max-width: 65px;

    a {
      width: 8px;
      height: 8px;
    }
  }

  .buttons {
    .continues {
      max-width: 200px;
      font-size: 1rem;
    }

    .skip {
      font-size: 1rem;
    }
  }
}

//Celulares horizontais

@media only screen and (min-height: 421px) and (max-height: 600px) {
  .container-header {

    .title {
      flex-direction: row-reverse;

      h1 {
        font-size: 1.5rem;
        width: 65%
      }

      img {
        @include compri-max(140px, 100%, 140px, 100%);

      }
    }

    .description {
      p {
        margin-top: 20px;
        font-size: 1rem;
        max-width: 260px;
      }
    }
  }

  .bookmark {
    margin-bottom: 20px;
    margin-top: 10px;
    max-width: 62px;

    a {
      width: 8px;
      height: 8px;
    }
  }

  .buttons {
    .continues {
      max-width: 150px;
      height: 30px;
      font-size: 0.8rem;

      &:hover {
        opacity: 0.8;
        font-size: 0.6rem;
        transition: all 0.5s;
      }
    }

    .skip {
      margin-top: 15px;
      font-size: 0.8rem;
    }
  }
}

@media only screen and (max-height: 420px) {
  .container-header {

    .title {
      flex-direction: row-reverse;

      h1 {
        font-size: 1rem;
        width: 65%;
      }

      img {
        @include compri-max(100px, 100%, 100px, 100%);

      }
    }

    .description {
      p {
        font-size: 0.7rem;
        max-width: 225px;
      }
    }
  }

  .bookmark {
    margin-bottom: 20px;
    margin-top: 10px;
    max-width: 62px;

    a {
      width: 8px;
      height: 8px;
    }
  }

  .buttons {
    .continues {
      max-width: 150px;
      height: 30px;
      font-size: 0.7rem;

      &:hover {
        opacity: 0.8;
        font-size: 0.6rem;
        transition: all 0.5s;
      }
    }

    .skip {
      margin-top: 15px;
      font-size: 0.8rem;
    }
  }
}

@media only screen and (max-height: 600px) and (max-width: 300px) {
  .container-header {

    .title {
      flex-direction: row-reverse;

      h1 {
        font-size: 0.8rem;
        width: 65%;
      }

      img {
        @include compri-max(100px, 100%, 100px, 100%);

      }
    }

    .description {
      p {
        font-size: 0.7rem;
        max-width: 225px;
      }
    }
  }

  .bookmark {
    margin-bottom: 20px;
    margin-top: 10px;
    max-width: 62px;

    a {
      width: 8px;
      height: 8px;
    }
  }

  .buttons {
    .continues {
      max-width: 150px;
      height: 30px;
      font-size: 0.7rem;

      &:hover {
        opacity: 0.8;
        font-size: 0.6rem;
        transition: all 0.5s;
      }
    }

    .skip {
      margin-top: 15px;
      font-size: 0.8rem;
    }
  }
}